extends layout

block content
	div.content
		div.container-fluid
			div.row
				div.col-md-12
					div.card
						.card-header(data-background-color='green') 
							h2.text-center #{title}
						.card-content