extends layout

block content
	.content
		.container-fluid
			.row
				.col-md-12
					.card
						.card-header(data-background-color='green')
							h4.title #{title}
						.card-content.table-responsive
							table#rep-table.table
								thead
									th ID
									th Name
								tbody
									for rep in rep_list 
										tr.clickable
											td #{rep._id} 
											td #{rep.name}