/* Login Page */
.hidden, .led-trash{
  display: none;
}

.dropdown-label{
	color: #a9afbb;
	text-align: center;
}

.selectpicker{
	width: 100%;
}

.weekday-input{
	width: 10%; 
	display: inline-block;
	margin: 0 1%;
}

.edit-sale{
	margin-top: 5%;
}

.led-list{
	max-height: 650px;
	overflow-y: scroll;
}

.led-option, .led-on-sale-card .back,
.led-on-sale-card .front{
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 4px #888888;
    cursor: pointer;
    margin: 1% 0;
}

.led-option:hover, .led-on-sale-card .back:hover,
.led-on-sale-card .front:hover{
    box-shadow: 1px 1px #888888;
}

.led-counts{
	width: 99%;
	margin: 0 auto 5% auto;
    border: 1px solid;
	display: none;
    border-bottom: 1px solid;
    padding: 10px;
    box-shadow: 2px 4px #888888;
}

.led-count{
	width: 20%;
	display: inline-block;
	margin: 0 1%;
}

.led-trash{
	width: 100%;
	height: 510px;
	padding: 1%;
	background-image: url("../images/trash-can-icon.png");
	background-repeat: no-repeat;
	background-color: red;
    background-size: auto;
    border-radius: 15px;
    display: none;
}

.bill-image-uplaod-btn{
	width: 100%;
}

.text-date-input{
	border: 1px solid #66bb6a;
	border-radius: 5px;
	background-color: #4caf50;
	width: 30%;
    text-align: center;
    padding: 1%;
    color: transparent;
    text-shadow: 0 0 0 #FFF;
    cursor: pointer;
}

.text-date-input::placeholder {
    color: white;
    opacity: 1;
    text-align: center
}


.clickable{
	cursor: pointer;
}

.dz-error-mark{
	display: none;
}

.dz-success-mark{
	background-color: green;
	width: 5%;
	margin: 0 auto;
	border-radius: 60%;
	padding-top: 5px;
}

.table-overflow{
	overflow-x: scroll;
}

.img-thumb-sm{
	width: 50px;
	height: 50px;
}

#pendingResiSalesUpload{
	width: 100%;
	height: 200px;
	border: 1px solid #9c27b0;
	text-align: center;
}

@media (max-width: 760px) {
	.renewal-option, .usage-option{
		width: 100%;
		margin: 2% auto;
	}
}

